@font-face {
	font-family: polyducks;
	src: url("./polyducks_12x12.woff") format("opentype");
}

.lys-txtui{
	width: 100%;
	height: 100%;
	margin: 0;

	font-family: polyducks;
	background-color: #171717;
	color: #FAFFFA;
	font-size: 12px;
	/* -webkit-font-smoothing:none;
	-moz-osx-font-smoothing:none; */
}