@font-face {
	font-family: polyducks;
	src: url("./polyducks_12x12.woff") format("opentype");
}

:root{
	font-family: polyducks;
	-webkit-font-smoothing:none;
	-moz-osx-font-smoothing:none;
}

body {
	background-color: #171717;
	color: #FAFFFA;
	font-size: 12px;
}